<%- include("../partials/_header") %>

                <li class="link"> <a href="/register">Register </a></li>
            </ul>
        </div>
    </header>

    <main>

        <div class="container-md">
            <h2>Login</h2>

            <form id="loginForm">
                <div class="mb-3">
                  <label for="username" class="form-label">Username</label>
                  <input type="text" class="form-control" id="username" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control" id="password">
                </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="remember">
                  <label class="form-check-label" for="remember">Remember Me</label>
                </div>

                <div class="mb-3">
                  <div style="display: none;" class="error error-message" id="errorMessage">
                    
                  </div>
                </div>

                <button id="submitBtn" type="submit" class="btn btn-primary">Submit</button>

                <div class="mb-3 mt-3">
                    <label class="form-check-label" for="account">Don't have account? <a class="link-primary" href="/register"> Create New Account</a></label>
                </div>
                <div class="mb-3 mt-3">
                    <label class="form-check-label" for="forgot">Forgot Password? <a class="link-primary" href="/reset-password"> Reset Password</a></label>
                </div>
              </form>


        </div>

    </main>


    <footer>

    </footer>

    <script src="/js/loginHandler.js"></script>
</body>
</html>


