<%- include("../partials/_header") %>
                <li class="link"> <a href="/login">Login </a></li>
            </ul>
        </div>
    </header>

    <main>

        <div class="container-md">
            <h2>Register</h2>

            <form id="registerForm">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" aria-describedby="emailHelp">
                </div>
                  <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password">
                  </div>
                  <div class="mb-3">
                    <label for="rePassword" class="form-label">Repeat Password</label>
                    <input type="password" class="form-control" id="rePassword">
                  </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="newsletter">
                  <label class="form-check-label" for="newsletter">I want to receive news, promotional emails, updates and tips on how to use Pool-Quiz</label>
                </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="terms">
                  <label class="form-check-label" for="terms">
                    I accept Pool-Quiz's <a class="link-primary" target="_blank" href="/terms">Terms of Service</a> and <a target="_blank" class="link-primary" href="/policy">Privacy Policy</a>
                </label>
                </div>

                <div class="mb-3">
                  <div style="display: none;" class="error error-message" id="errorMessage">
                    
                  </div>
                </div>

                <button id="submitBtn" type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>

    </main>
    <footer>

    </footer>
    
    <script src="/js/registerHandler.js"></script>
</body>
</html>