<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <header>
        <div class="logo-con">
            <a href="/">
                <p>
                    <span class="p">P</span>
                    <span class="p-all">ool Quiz</span>
                </p>
               </a>
        </div>
        <div class="nav-links-con">
            <ul class="links">
                <li class="link"> <a href="/browse">Browse </a></li>
                <li class="link"> <a href="/add-question">Create Question </a></li>
                <li class="link"> <a href="/api-setting">API </a></li>

                <% if (isAuthenticated) { %>
                    <li class="link"> <a href="/api-setting"><%= user.username %></a></li>
                <% }else { %>
                    <li class="link"> <a href="/login">Login</a></li>
                <% } %>
    
            </ul>
        </div>
    </header>