<%- include("./partials/_user_header") %>
<main>
    <div class="container-md">
    <h3>All Verified Public Questions</h3>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Category</th>
            <th scope="col">Type</th>
            <th scope="col">Difficulty</th>
            <th scope="col">Question</th>
            <th scope="col">User</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row">10101</th>
            <td>General Knowledge</td>
            <td>Multiple Choice</td>
            <td>Easy</td>
            <td>Who is known as the father of computer?</td>
            <td><a href="/jajajkajakja">Themba's Questions</a></td>
            </tr>
        </tbody>
    </table>
    </div>
</main>

