<%- include("./partials/_user_header") %>

    <main>

        <!-- <div class="error-message-con">
            <p>ERROR! You must be logged in to submit a question on <span>pool quiz</span>.</p>
        </div> -->

        <div class="title-con">
            <h1>Pool Quiz</h1>
            <div class="database">
                <div class="span">D</div>
                <div class="span">A</div>
                <div class="span">T</div>
                <div class="span">A</div>
                <div class="span">B</div>
                <div class="span">A</div>
                <div class="span">S</div>
                <div class="span">E</div>
            </div>
        </div>
        <div class="sub-title">
            <h3>Free to use an API and contribute by adding question to our pool-quiz database.</h3>
            <p>1000++ VERIFIED QUESTIONS</p>

            <a href="/add-question">
                <button class="btn">+Add New Question</button>
            </a>
            
        </div>
    </main>


    <footer>

    </footer>

</body>
</html>