<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <header>
        <div class="logo-con">
            <a href="/">
                <p>
                    <span class="p">P</span>
                    <span class="p-all">ool Quiz</span>
                </p>
               </a>
        </div>
        <div class="nav-links-con">
            <ul class="links">
                <li class="link"> <a href="/browse">Browse </a></li>
                <li class="link"> <a href="/add-question">Create Question </a></li>
                <li class="link"> <a href="/api-setting">API </a></li>


                <% if (user) { %>
                    <h2><%= user.name %></h2>
                <% } %>

                <!-- <% if (isAuthenticated) { %>
                    <li class="link login"> <a href="/dashboard"><%= username %></a></li>
                <% } else { %>
                    <li class="link login"> <a href="/login">Login</a></li>
                <% } %> -->

            </ul>
        </div>
    </header>

    <main>

        <!-- <div class="error-message-con">
            <p>ERROR! You must be logged in to submit a question on <span>pool quiz</span>.</p>
        </div> -->

        <div class="title-con">
            <h1>Pool Quiz</h1>
            <div class="database">
                <div class="span">D</div>
                <div class="span">A</div>
                <div class="span">T</div>
                <div class="span">A</div>
                <div class="span">B</div>
                <div class="span">A</div>
                <div class="span">S</div>
                <div class="span">E</div>
            </div>
        </div>
        <div class="sub-title">
            <h3>Free to use an API and contribute by adding question to our pool-quiz database.</h3>
            <p>1000++ VERIFIED QUESTIONS</p>

            <a href="">
                <button class="btn">+Add New Question</button>
            </a>
            
        </div>
    </main>


    <footer>

    </footer>
    
</body>
</html>