
.error {
    border: 1px solid;
    margin: 10px 0px;
    padding: 8px 10px 8px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.error{
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('https://i.imgur.com/GnyDvKN.png');
    background-size: 18px 18px;
}

#submitBtn {
    transition: all 0.3s ease; 
}

.loading {
    pointer-events: none; 
    opacity: 0.7; 
}