<%- include("../partials/_header") %>


</ul>
</div>
</header>

<main>

<div class="container-md">
    <h1>Internal Server Error</h1>
    <p>Click The Link Below to go back to home page</p>
</div>

</main>

